body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"],
input[type="url"],
textarea {
  -webkit-appearance: none;
}
body,
a,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
.cf:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  font-family: Hiragino Sans GB, Arial, Helvetica, "宋体", sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
em {
  font-style: normal;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #ccc;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #ccc;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #ccc;
}
/*tool*/
.hide {
  display: none;
}
.show {
  display: block;
}
/*app*/
html {
  min-height: 100%;
  background: -webkit-linear-gradient(281deg, #0c63aa, #7ac4fa);
  background: linear-gradient(169deg, #0c63aa, #7ac4fa);
  background-color: #0c63aa;
  font-size: 12px;
}
.link {
  color: #0f97f9;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
}
.nav .nav-link {
  margin: 0 10px;
}
.nav .log-btnbox {
  float: right;
}
.nav .logo {
  float: left;
}
.app {
  padding: 60px 20px 20px;
}
.app .header {
  text-align: center;
  color: #fff;
}
.app .content {
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fff;
}
.app .content .item {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.app .content .item .num {
  margin-right: 5px;
}
.app .content .item .info {
  font-size: 12px;
  margin: 0 3px;
  color: #929292;
}
.app .content .item .more {
  color: #0f97f9;
  text-decoration: underline;
}
.app .content .item .title {
  font-size: 14px;
}
.app .content .item .info-box {
  text-align: right;
}
.app .content .item:last-child {
  border-bottom: 0;
}
.app .more-box {
  text-align: center;
}
.app .more-box .btnMore {
  display: inline-block;
  color: #a5a5a5;
}
/*notFount*/
.not-found {
  margin: 10% auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}
.not-found h1 {
  font-weight: 700;
  font-size: 2em;
  color: #ddd;
  text-align: center;
}
/*login*/
.form {
  text-align: right;
}
.form input {
  margin: 0 0 15px;
  padding: 6px;
  height: 32px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 100%;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.form input:hover {
  border-color: #57c5f7;
}
